# mongodb
SERVICE_MONGO_URI=mongodb://localhost:27017/database
SERVICE_MONGO_TLS_DISABLE=true

# api-gateway
API_PORT=2000

# service-consumer
CONSUMER_HOST='0.0.0.0'
CONSUMER_PORT=3000

# redis
SERVICE_REDIS_HOST='0.0.0.0'
SERVICE_REDIS_PORT=6379
EVENTS_QUEUE='events-queue'
