# mongodb
SERVICE_MONGO_URI=mongodb://service-backend-mongodb:27017/database
SERVICE_MONGO_TLS_DISABLE=true

# api-gateway
API_HOST='service-api-gateway'
API_PORT=2000

# service-consumer
CONSUMER_HOST='service-consumer'
CONSUMER_PORT=3000

# redis
SERVICE_REDIS_HOST='service-backend-redis'
SERVICE_REDIS_PORT=6379
EVENTS_QUEUE='events-queue'
